---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  document-start: enable
  truthy:
    allowed-values: ['true', 'false']
  brackets:
    max-spaces-inside: 0
  trailing-spaces: enable
