name: Build LaTeX PDF

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up LaTeX
        uses: dante-ev/latex-action@v2.x
        with:
          root_file: main_final.tex

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: CTMM_final_PDF
          path: main_final.pdf
